:root {
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-text-color: #212121;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1200px;
  align-items: center;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  /*Создан общий вспомогательный класс 
  .container для центрирования и ограничения контента по ширине. 
  Ширина «контейнера» соответствует макету и равна 1200px.
  «Контейнер» оборачивает контент хедера,
    футера и секций. То есть находится внутри них.*/
 }

.section { 
  padding-top: 94px; 
  padding-bottom: 94px;
}

header {
  background-color: #2196F3;
}
.header-items {
  display: flex;
  justify-content: space-around;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logostudiotop {
  color: var(--primary-text-color);
}
.logostudiobottom {
  color: #FFFFFF;
}
.navlist {
  list-style-type: none;
  display: flex;
  margin-right: auto;
}
.navlist > li {
  outline: 1px solid red;
}

.sitenav + .sitenav {
  margin-left: 50px;
}
.sitenavlink {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.sitenavlink:hover,
.sitenavlink:focus {
  color: var(--accent-color);
}
.contacts-wrapper {
  display: flex;
  margin-left: auto;
}
.contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.contacts + .contacts {
  margin-left: 50px;
}
button {
  cursor: pointer;
}

/* Page index */ 
.hero {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

}
.hero-button {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  display: block;
  margin-right: auto;
  margin-left: auto;
}
.list-gen-setting {
  list-style-type: none;
}

.benefits-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-section {
  background-color: #FFFFFF;
}
.what-we-do-title,
.our-team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team {
  background-color: #F5F4FA;
}
.our-team-names {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Page portfolio */
.our-works-filter {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.our-works-filter:hover,
.our-works-filter:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.work-examples-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-examples-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* Footer */
footer {
  background-color: #2F303A;
}
.address-footer {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/*hover and focus are withing the header contact settings */